---
import Linksiti, { ISito } from "../components/Linksiti.js";

const poa_py = {
  nome: "poa",
  url: "https://poa.alai.one",
  nota: "Rest api - python fastapi",
};

const poa_py_docs = {
  nome: "poa docs",
  url: "https://poa.alai.one/docs",
  nota: "Docs Rest api - python fastapi",
};

const phx_poa = {
  nome: "phx-poa",
  url: "https://phx.alai.one",
  nota: "Futura gestione in modifica - elixir phoenix liveview",
};

const astro_poa = {
  nome: "astro_poa",
  url: "stazioni",
  nota: "Static site - Astro.js  - Reactjs",
};

const questdb_poa = {
  nome: "questdb_poa",
  url: "https://questdb.alai.one",
  nota: "Questdb - Time series Db - interfaccia pubblica - non per produzione",
};

const siti = [astro_poa, poa_py, poa_py_docs, phx_poa, questdb_poa];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Poa NEW</title>
  </head>

  <body>
    <div class="container mx-auto center">
      <h3 class="text text-xl center text-bold">Progetto Poa - Siti</h3>
      <ul class="flex flex-col">
        {siti.map((sito: ISito) => <Linksiti sito={sito}> </Linksiti>)}
      </ul>
    </div>
  </body>
</html>
