---
// Component Imports
import Stazione from "../../components/Stazione.astro";
import Realrete from "../../components/Realrete";
import { IRealrete, real_rete_ana } from "../../tipi/real_rete_ana";

// POA API
const realrete = real_rete_ana;
const selezione = realrete; //.splice(1, 10);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Poa</title>
  </head>

  <body>
    <div class="container max-w-max mx-1 bg-slate-50">
      <h4>Rete idrometrica fiduciaria</h4>
      <ul class="flex flex-wrap">
        {
          selezione.map((realrete: IRealrete) => (
            <Realrete rete={realrete}> </Realrete>
          ))
        }
      </ul>
    </div>
  </body>
</html>
