---
import * as ChartImport from "chart.js";
import { IStazione } from "../components/Stazione.astro";

const { Chart, LineElement } = ChartImport.default
  ? ChartImport.default
  : ChartImport;

Chart.register(LineElement);

class LineChart {
  constructor(ctx, labels, values, intesta) {
    this.chart = new Chart(ctx, {
      type: "line",
      data: {
        labels: labels,
        datasets: [
          {
            label: intesta,
            data: values,
            borderColor: "#4c51bf",
          },
        ],
      },
    });
  }

  aggiorna(label, value) {
    console.log(label);
    console.log(value);
    this.chart.data.labels = label;
    this.chart.data.datasets[0].data = value;

    this.chart.update();
  }
}

const stazio = Astro.props.stazio as IStazione;

const url = `https://poa.alai.one/poa/quest/${stazio.NOME}/TCI?inizio=2022&fine=2023 `;

const response = await fetch(url);
const dati = await response.json();

const values = [];
const labels = [];
//
for (let i = 0; i < dati.length - 1; i++) {
  let v = dati[i];
  values.push(v[0]);
  labels.push(v[1]);
}
---

<div class="container">
  <canvas id="myChart" class="w-96 h-auto"></canvas>
</div>

<script define:vars={{ LineChart, values, labels }}>
  const ctx = document.getElementById("myChart").getContext("2d");
  const myChart = new LineChart(ctx, labels, values, "Temperatura");
</script>
